outputs:
    SnapshotCreateLambdaArn:
        Description: The ARN of the Lambda function that creates snapshots
        Value:
            "Fn::GetAtt": 
                - AutoSnapshotLambdaResource
                - Arn
    SnapshotDeleteLambdaArn:
        Description: The ARN of the Lambda function that deletes snapshots
        Value:
            "Fn::GetAtt": 
                - AutoSnapshotRemovalLambdaResource
                - Arn
